body {
    background-color: #67065f !important;
}

.financial-details {
    background-color: #800070 !important;
    color: white !important;
}

.table {
    color: white !important;
}

.bg-dark {
    background-color: #50004a !important;
}

.input-group-text {
    background-color: #50004a !important; 
    color: white !important; 
}

.form-select,
.form-control {
    background-color: #67065f !important;
    color: white !important;
    border: 1px solid white !important;
}

.form-select option {
    background-color: white;
    color: black;
}

.btn-success {
    background-color: #4CAF50 !important;
    border-color: white !important;
    color: white !important;
}

.btn-success:hover {
    background-color: #45a049 !important;
}

.fas {
    color: white !important;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}
.table th:first-child, .table td:first-child {
    width: 50px;
}
.table th, .table td {
    padding: 8px;
}

::placeholder {
    color: white !important;
    opacity: 1 !important; 
}

:-ms-input-placeholder {
    color: white !important;
}

::-ms-input-placeholder { 
    color: white !important;
}
