<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/homeDesign.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div class='dashboard'>
        <div class="dashboard-nav">
            <header>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars" ></i>
                </a>
                <a href="#" class="brand-logo" style="font-weight: bold; color:white">
                    <i class="fas fa-piggy-bank" style="color: white;"></i> 
                    <span>WEALTH WISE</span>
                </a>
                
            </header>
            <nav class="dashboard-nav-list">
                <a href="./home.html" class="dashboard-nav-item" id="dashboard-tab" style=" color:white">
                    <i class="fas fa-home" style="color: white"></i>Home 
                </a>
                <a href="./account.html" class="dashboard-nav-item" id="account-tab" style=" color:white">
                    <i class="fas fa-solid fa-user" style="color: white"></i>Account Details 
                </a>
                <a href="./goal.html" class="dashboard-nav-item" style=" color:white">
                    <i class="fas fa-rocket" style="color:white"></i> Money Milestones
                </a>
                <a href="./financialHealthScore.html" class="dashboard-nav-item" style=" color:white">
                    <i class="fas fa-heartbeat" style="color:white"></i> Financial Health Score
                </a>
                <a href="./smartSubscription.html" class="dashboard-nav-item" style=" color:white">
                    <i class="fas fa-clipboard-list" style="color:white"></i> Smart Subscription Tracker
                </a>
                <a href="./family.html" class="dashboard-nav-item" style=" color:white">
                    <i class="fas fa-users" style="color:white"></i> Family Finance Dashboard
                </a>
                <a href="./visualize.html" class="dashboard-nav-item" style=" color:white">
                    <i class="fas fa-chart-pie" style="color:white"></i> Expense Visualizer
                </a>
                <a href="./team.html" class="dashboard-nav-item" style=" color:white">
                    <i class="fas fa-users" style="color:white"></i> Developers 
                </a>
                <div class="nav-item-divider"></div>
                <a href="./login.html" class="dashboard-nav-item" style=" color:white">
                    <i class="fas fa-sign-out-alt" style="color: white;"></i> Logout 
                </a>
            </nav>
        </div>
        <div class='dashboard-app'>
            <header class='dashboard-toolbar'>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars" style="color: white;"></i>
                </a>
                <div id="userGreeting" class="user-header">
                    Welcome, <span id="displayName">Loading...</span> 👋
                </div>
            </header>
            <div class='dashboard-content'>
                <div class="frame">
                    <div class="container-box">                            
                        <div class="section">	
                            <h1 style="font-family: 'Playfair Display', serif; color: white; text-align: center; margin: 50px auto;">Wealth Wise</h1>
                            <div class="container">
                                 <div class="row full-height">
                                    <div class="col-12 align-self-center">
                                        <div class="section">	
                                            <div class="left-side-shadow"></div>
                                                <div class="right-side-shadow"></div>
                                                    <ul class="link-list">
                                                        <li>
                                                            <a href="#" class="hover-target">
                                                                <span>Money Milestones -</span>
                                                                <span>Money Milestones -</span>
                                                                <span>Money Milestones -</span>
                                                                <span>Money Milestones -</span>
                                                                <span>Money Milestones -</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="hover-target">
                                                                <span>Financial Health Score -</span>
                                                                <span>Financial Health Score -</span>
                                                                <span>Financial Health Score -</span>
                                                                <span>Financial Health Score -</span>
                                                                <span>Financial Health Score -</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="hover-target">
                                                                <span>Smart Subscription Tracker -</span>
                                                                <span>Smart Subscription Tracker -</span>
                                                                <span>Smart Subscription Tracker -</span>
                                                                <span>Smart Subscription Tracker -</span>
                                                                <span>Smart Subscription Tracker -</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="hover-target">
                                                                <span>Famil Finance Dashboard -</span>
                                                                <span>Famil Finance Dashboard -</span>
                                                                <span>Famil Finance Dashboard -</span>
                                                                <span>Famil Finance Dashboard -</span>
                                                                <span>Famil Finance Dashboard -</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="hover-target">
                                                                <span>Expense Visualizer -</span>
                                                                <span>Expense Visualizer -</span>
                                                                <span>Expense Visualizer -</span>
                                                                <span>Expense Visualizer -</span>
                                                                <span>Expense Visualizer -</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <ul class="img-list">
                                                        <li>
                                                        </li>
                                                        <li>
                                                        </li>
                                                        <li>
                                                        </li>
                                                        <li>
                                                        </li>
                                                        <li>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>			
                                </div>
                            <div class='cursor' id="cursor"></div>
                            <div class='cursor2' id="cursor2"></div>
                            <div class='cursor3' id="cursor3"></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
</body>
<script type="module" src="../static/js/home.js"></script>
<script type="module" src="../static/js/homeDesign.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>